<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Fit For Life</title>
</head>

<body>


    <!-- navigation starts -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar-scroll">
        <div class="container">
            <a href="#home" class="navbar-brand"> <img src="images/FFL_Logo.png">Fit For Life</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item home active"><a href="#home" class="nav-link">Home</a></li>
                    <li class="nav-item dailydeals"><a href="#dailydeals" class="nav-link">Daily Deals</a></li>
                    <li class="nav-item menu"><a href="#menu" class="nav-link">Menu</a></li>
                    <li class="nav-item order"><a href="#order" class="nav-link">Order</a></li>
                    <!-- <li class="nav-item contact"><a href="#contact" class="nav-link">Contact</a></li> -->
                </ul>
            </div>
        </div>
    </nav>

    <!-- navigation ends -->

<!-- <div data-spy="scroll" data-target="#navbar-scroll" data-offset="0"> -->

    <!-- slider  section start -->
    <section class="home-slider owl-carousel js-fullheight" id="home">
        <div class="slider-item js-fullheight" style="background-image: url(images/teriyaki_bowl.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center"
                    data-scrollax-parent="true">
                    <div class="col-sm-12 text-center ftco-animate">
                        <span class="subheading">Bowls</span>
                        <h1 class="mb-4">Teriyaki Bowl</h1>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight" style="background-image: url(images/FFL_signature.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center"
                    data-scrollax-parent="true">

                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Wraps</span>
                        <h1 class="mb-4">Fit For Life Signature Wrap</h1>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight" style="background-image: url(images/chicken_pesto_kale_panini.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center"
                    data-scrollax-parent="true">

                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Paninis</span>
                        <h1 class="mb-4">Chicken Pesto Kale Panini</h1>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight" style="background-image: url(images/creamy_greek_shwarma_pita.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text js-fullheight justify-content-center align-items-center"
                    data-scrollax-parent="true">

                    <div class="col-md-12 col-sm-12 text-center ftco-animate">
                        <span class="subheading">Pitas</span>
                        <h1 class="mb-4">Creamy Greek Shawarma</h1>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- slider  section end  -->

    <!-- Daily Deals -->

    <section class="ftco-section" id="dailydeals">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center heading-section ftco-animate">
                    <span class="subheading">Daily Deals</span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="menus d-flex ftco-animate">
                        <div class="text">
                            <div class="col-12 text-center ftco-animate">
                                <h2>Monday</h2>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-6 one-half">
                                    <h3>Wraps</h3>
                                </div>
                                <div class="col-3 ml-auto one-forth">
                                    <span class="price">$7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="menus d-flex ftco-animate">
                        <div class="text">
                            <div class="col-12 text-center ftco-animate">
                                <h2>Tuesday</h2>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-6 mr-auto one-half">
                                    <h3>Bowls/Salads</h3>
                                </div>
                                <div class="col-3 ml-auto one-forth">
                                    <span class="price">$9</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="menus d-flex ftco-animate">
                        <div class="text">
                            <div class="col-12 text-center ftco-animate">
                                <h2>Wednesday</h2>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-6 mr-auto one-half">
                                    <h3>Paninis</h3>
                                </div>
                                <div class="col-3 ml-auto one-forth">
                                    <span class="price">$7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="menus d-flex ftco-animate">
                        <div class="text">
                            <div class="col-12 text-center ftco-animate">
                                <h2>Thursday</h2>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-6 mr-auto one-half">
                                    <h3>Pitas</h3>
                                </div>
                                <div class="col-3 ml-auto one-forth">
                                    <span class="price">$7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 menu-wrap">
                    <div class="menus d-flex ftco-animate">
                        <div class="text">
                            <div class="col-12 text-center ftco-animate">
                                <h2>Friday</h2>
                            </div>
                            <div class="col-12 d-flex">
                                <div class="col-6 mr-auto one-half">
                                    <h3>Burritos</h3>
                                </div>
                                <div class="col-3 ml-auto one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Daily Deals Ends-->

    <!-- menu section starts -->
    <section class="ftco-section" id="menu">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-6 text-center heading-section">
                    <span class="subheading">Menu</span>
                </div>
            </div>

            <div class="heading-menu ftco-animate">
                <h3>Wraps</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>KALE CAESAR</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>810 Calories</p>
                            </div>
                            <p><span>Chicken, Chicken Bacon, Romaine Mix, Kale, Parmesan, Croutons, Caesar Dressing</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>TUNA</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>540 Calories</p>
                            </div>
                            <p><span>Tuna Salad, Romaine Mix, Tomato, Red Onion, Cucumber, Cheddar Cheese, Ranch Dressing 
                            </span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>HONEY DIJON COBB</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>780 Calories</p>
                            </div>
                            <p><span>Chicken, Egg, Chicken Bacon, Romaine Mix, Tomato, Red Onion, Guacamole, Feta Cheese,
                                Honey Dijon Dressing</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>CHICKEN BACON RANCH</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>680 Calories</p>
                            </div>
                            <p><span>Chicken, Chicken Bacon, Romaine Mix, Tomato, Red Onion, Cucumber, Carrots,
                                Cheddar Cheese, Ranch Dressing</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>SPICY CHIPOTLE CHICKEN</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>770 Calories</p>
                            </div>
                            <p><span>Chicken, Brown Rice, Black Beans, Red Peppers, Red Onion, Corn, Salsa, Jalapeño,
                                Cheddar Cheese, Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>FIT FOR LIFE SIGNATURE</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>640 Calories</p>
                            </div>
                            <p><span>Chicken, Romaine Mix, Tomato, Cucumber, Red Onion, Hummus, Feta Cheese,
                                Greek Feta Dressing </span></p>
                        </div>
                    </div>
                </div>
            </div>
            


            <div class="heading-menu ftco-animate">
                <h3>Burritos</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>SLOW ROASTED BEEF</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$9</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>730 Calories</p>
                            </div>
                            <p><span>Steak, Brown Rice, Black Beans, Red Peppers, Red Onion, Corn, Salsa, Jalapeño,
                                Cheddar Cheese, Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>SPICY CHIPOTLE CHICKEN</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$9</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>770 Calories</p>
                            </div>
                            <p><span>Chicken, Brown Rice, Black Beans, Red Peppers, Red Onion, Corn, Salsa, Jalapeño,
                                Cheddar Cheese, Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>VEGGIE DELIGHT</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$9</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>670 Calories</p>
                            </div>
                            <p><span>Romaine Mix, Brown Rice, Black Beans, Red Peppers, Red Onion, Corn, Salsa, Jalapeño,
                                Guacamole, Cheddar Cheese, Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="heading-menu ftco-animate">
                <h3>Pitas</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>PHILLY CHEESESTEAK</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>470 Calories</p>
                            </div>
                            <p><span>Steak, Romaine Mix, Red Peppers, Red Onion, Cheddar Cheese, Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>CREAMY GREEK SHAWARMA</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>560 Calories</p>
                            </div>
                            <p><span>Shawarma Chicken, Romaine Mix, Tomato, Cucumber, Red Onion, Olives, Feta Cheese,
                                Hummus, Tzatziki, Tahini, Tabouli</span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>SRIRACHA FALAFEL</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>740 Calories</p>
                            </div>
                            <p><span>Falafel, Romaine Mix, Tomato, Cucumber, Red Peppers, Hummus, Sriracha Sauce, Mayo</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>SPICY BUFFALO</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>470 Calories</p>
                            </div>
                            <p><span>Chicken, Romaine Mix, Tomato, Red Onion, Cheddar Cheese, Ranch Dressing, Hot Sauce</span></p>
                        </div>
                    </div>
                </div>
               


            </div>


            <div class="heading-menu ftco-animate">
                <h3>Paninis</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>CHIPOTLE CHICKEN</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>710 Calories</p>
                            </div>
                            <p><span>Chicken, Tomato, Red Peppers, Red Onion, Jalapeño, Cheddar Cheese,
                                Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>MUSHROOM STEAK</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>660 Calories</p>
                            </div>
                            <p><span>Steak, Tomato, Red Peppers, Red Onion, Mushrooms, Jalapeño, Cheddar Cheese,
                                Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>EARTHY FALAFEL</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>580 Calories</p>
                            </div>
                            <p><span>Falafel, Spinach, Tomato, Red Onion, Hummus, Feta Cheese, Greek Feta Dressing</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>CHICKEN PESTO KALE</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$8</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>600 Calories</p>
                            </div>
                            <p><span>Chicken, Kale, Tomato, Red Onion, Basil Pesto, Parmesan Cheese, Balsamic Dressing</span></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="heading-menu ftco-animate">
                <h3>Salads</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>KALE CAESAR</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>560 Calories</p>
                            </div>
                            <p><span>Chicken, Chicken Bacon, Romaine Mix, Kale, Parmesan, Croutons, Caesar Dressinge</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>HONEY DIJON COBB</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>540 Calories</p>
                            </div>
                            <p><span>Chicken, Egg, Chicken Bacon, Romaine Mix, Tomato, Red Onion, Guacamole, Feta Cheese,
                                Honey Dijon Dressing</span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>CHICKEN BACON RANCH</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>460 Calories</p>
                            </div>
                            <p><span>Chicken, Chicken Bacon, Romaine Mix, Tomato, Red Onion, Cucumber, Carrots, Cheddar Cheese,
                                Ranch Dressing</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>FIT FOR LIFE SIGNATURE</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>400 Calories</p>
                            </div>
                            <p><span>Chicken, Romaine Mix, Tomato, Cucumber, Red Onion, Hummus, Feta Cheese, Greek Feta Dressing</span></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="heading-menu ftco-animate">
                <h3>Bowls</h3>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>SOUTHWEST STEAK</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>710 Calories</p>
                            </div>
                            <p><span>Steak, Quinoa, Romaine Mix, Tomato, Black Beans, Red Peppers, Red Onion, Corn,
                                Jalapeño, Cheddar Cheese, Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>HARVEST FALAFEL</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>830 Calories</p>
                            </div>
                            <p><span>Falafel, Quinoa, Romaine Mix, Spinach, Tomato, Red Onion, Cucumber, Carrots, Broccoli,
                                Hummus, Feta Cheese, Greek Feta Dressing</span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>TERIYAKI CHICKEN</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>710 Calories</p>
                            </div>
                            <p><span>Chicken, Brown Rice, Romaine Mix, Red Peppers, Red Onion, Carrots, Broccoli, Red Cabbage,
                                Teriyaki Sauce</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>CHIPOTLE CHICKEN QUINOA</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>640 Calories</p>
                            </div>
                            <p><span>Chicken, Quinoa, Spinach, Tomato, Red Peppers, Red Onion, Cucumber, Broccoli, Hummus,
                                Cheddar Cheese, Chipotle Sauce</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>MEDITERRANEAN SHAWARMA</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$10</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>670 Calories</p>
                            </div>
                            <p><span>Shawarma Chicken, Brown Rice, Romaine Mix, Tomato, Red Onion, Cucumber, Tabouli, Hummus,
                                Feta Cheese, Greek Feta Dressing</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading-menu ftco-animate">
                <h3>Smoothies</h3>
            </div>
            <div class="row" id="smoothie">
                <div class="col-md-6 col-lg-4">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>KALEFIT</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$6</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>380 Calories</p>
                            </div>
                            <p><span>Orange Juice, Kale, Banana, Blueberry</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>QUICKFIT</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$6</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>450 Calories</p>
                            </div>
                            <p><span>Orange Juice, Greek Yogurt, Banana, Strawberry</span></p>
                        </div>
                    </div>
                </div> 
                
                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>BERRYFIT</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$6</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>400 Calories</p>
                            </div>
                            <p><span>Almond Milk, Greek Yogurt, Banana, Blueberry,
                                Strawberry, Honey</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 ">
                    <div class="menus d-flex ftco-animate">
                        <!-- <div class="menu-img img" style="background-image: url(images/menu1.jpg);"></div> -->
                        <div class="text">
                            <div class="d-flex">
                                <div class="one-half">
                                    <h3>BENEFIT</h3>
                                </div>
                                <div class="one-forth">
                                    <span class="price">$6</span>
                                </div>
                            </div>
                            <div class="text-muted">
                                <p>190 Calories</p>
                            </div>
                            <p><span>Almond Milk, Spinach, Kale, Strawberry, Blueberry,
                                Honey</span></p>
                        </div>
                    </div>
                </div>
            </div>  

        </div>
    </section>
    <!-- menu section ends -->

    <!-- Order -->

    <section class="ftco-section" id="order">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-6 text-center heading-section">
                    <span class="subheading">Order</span>
                </div>
            </div>
            <div class="row icons text-center">
                <div class="col-md-6 col-lg-3"><a href="https://www.ubereats.com/ca/hamilton/food-delivery/fit-for-life/1nZq0AqDQruHFglAEoWNHQ" class="fa ubereats"><img src="images/uber-eats-seeklogo.svg" alt=""></a></div>   
                <div class="col-md-6 col-lg-3"><a href="https://www.skipthedishes.com/fit-for-life-king-street-west" class="fa"><img src="images/skipthedishes-logo.png" alt=""></a></div>
                <div class="col-md-6 col-lg-3"><a href="https://www.doordash.com/en-CA/store/fitforlife-hamilton-726463" class="fa"><img src="images/doordash-logo-900x437.png" alt=""></a></div>
                <div class="col-md-6 col-lg-3"><a href="https://order.ritual.co/menu/fit-for-life-king-james-hamilton/24a2" class="fa ritual"><img src="images/ritual-logo.png" alt=""></a></div>
            </div>
        </div>  
    </section>

    <!-- Order Ends -->


    <!-- footer section starts -->
    <section class="ftco-footer ftco-bg-dark ftco-section" id="contact">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Fit For Life</h2>
                        <p>
                            <!-- FitForLife@gmail.com -->
                            2 King St W, Hamilton, ON L8P 1A1 <br>(Jackson Square Food Court)
                            <br><br>
                            (905) 522-7555
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Open Hours</h2>
                        <ul class="list-unstyled open-hours">
                            <li class="d-flex"><span>Monday</span><span>10:30 a.m. - 6:00 p.m.</span></li>
                            <li class="d-flex"><span>Tuesday</span><span>10:30 a.m. - 6:00 p.m.</span></li>
                            <li class="d-flex"><span>Wednesday</span><span>10:30 a.m. - 6:00 p.m.</span></li>
                            <li class="d-flex"><span>Thursday</span><span>10:30 a.m. - 6:00 p.m.</span></li>
                            <li class="d-flex"><span>Friday</span><span>10:30 a.m. - 6:00 p.m.</span></li>
                            <li class="d-flex"><span>Saturday</span><span>10:30 a.m. - 6:00 p.m.</span></li>
                            <li class="d-flex"><span>Sunday</span><span>Closed</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Find Us</h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46522.82296993395!2d-79.88954736195174!3d43.21627547558159!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882c9ba512857e35%3A0xba5e23b8f2553654!2sFit%20For%20Life!5e0!3m2!1sen!2sca!4v1618218643079!5m2!1sen!2sca" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section ends -->

    <!-- scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
